[submodule "submodules/diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "submodules/simple-knn"]
	path = simple-knn
	url = https://github.com/camenduru/simple-knn
[submodule "submodules/tetra-triangulation"]
	path = tetra-triangulation
	url = https://github.com/jkulhanek/tetra-nerf
[submodule "submodules/colmap"]
	path = submodules/colmap
	url = https://github.com/colmap/colmap.git


[submodule "clone/Scaffold-GS"]
	path = clone/Scaffold-GS
	url = https://github.com/city-super/Scaffold-GS.git
[submodule "clone/3dgs-mcmc"]
	path = clone/3dgs-mcmc
	url = https://github.com/ubc-vision/3dgs-mcmc.git
[submodule "clone/GaussianArt"]
	path = clone/GaussianArt
	url = https://github.com/shenlc19/GaussianArt.git
[submodule "clone/gaussian-splatting"]
	path = clone/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "clone/mip-splatting"]
	path = clone/mip-splatting
	url = https://github.com/autonomousvision/mip-splatting.git
[submodule "clone/gaussian-opacity-fields"]
	path = clone/gaussian-opacity-fields
	url = https://github.com/autonomousvision/gaussian-opacity-fields.git
[submodule "clone/2d-gaussian-splatting"]
	path = clone/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "clone/3dgrut"]
	path = clone/3dgrut
	url = https://github.com/nv-tlabs/3dgrut.git
[submodule "clone/Analytic-Splatting"]
	path = clone/Analytic-Splatting
	url = https://github.com/lzhnb/Analytic-Splatting.git
[submodule "clone/L2G-NeRF"]
	path = clone/L2G-NeRF
	url = https://github.com/rover-xingyu/L2G-NeRF.git
[submodule "clone/NoPoSplat"]
	path = clone/NoPoSplat
	url = https://github.com/cvg/NoPoSplat.git
