[submodule "submodules/diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "submodules/simple-knn"]
	path = simple-knn
	url = https://github.com/camenduru/simple-knn
[submodule "submodules/tetra-triangulation"]
	path = tetra-triangulation
	url = https://github.com/jkulhanek/tetra-nerf
[submodule "submodules/colmap"]
	path = submodules/colmap
	url = https://github.com/colmap/colmap.git


[submodule "clone/vggt"]
	path = clone/vggt
	url = https://github.com/facebookresearch/vggt.git
[submodule "clone/SegmentAnything3D"]
	path = clone/SegmentAnything3D
	url = https://github.com/Pointcept/SegmentAnything3D.git
[submodule "clone/Scaffold-GS"]
	path = clone/Scaffold-GS
	url = https://github.com/city-super/Scaffold-GS.git
[submodule "clone/3dgs-mcmc"]
	path = clone/3dgs-mcmc
	url = https://github.com/ubc-vision/3dgs-mcmc.git
[submodule "clone/GaussianArt"]
	path = clone/GaussianArt
	url = https://github.com/shenlc19/GaussianArt.git
